[submodule "integrations/happyfox-mcp"]
	path = integrations/happyfox-mcp
	url = https://github.com/Glitch3dPenguin/happyfox-mcp
[submodule "integrations/ebay-mcp"]
	path = integrations/ebay-mcp
	url = https://github.com/YosefHayim/ebay-mcp.git
[submodule "integrations/portainer-mcp"]
	path = integrations/portainer-mcp
	url = https://github.com/portainer/portainer-mcp
[submodule "integrations/warden-mcp"]
	path = integrations/warden-mcp
	url = https://github.com/icoretech/warden-mcp
[submodule "integrations/proxmox-mcp"]
	path = integrations/proxmox-mcp
	url = https://github.com/RekklesNA/ProxmoxMCP-Plus
[submodule "integrations/trmm-mcp"]
	path = integrations/trmm-mcp
	url = https://github.com/shin2344234/trmm-mcp
[submodule "integrations/clarity-mcp"]
	path = integrations/clarity-mcp
	url = https://github.com/microsoft/clarity-mcp-server.git
[submodule "integrations/bookstack-mcp"]
	path = integrations/bookstack-mcp
	url = https://github.com/pnocera/bookstack-mcp-server.git
